<h1>Hey! <%= @user.email %> </h1>

<%= form_for :report_uploads, url: report_uploads_path, method: :post, :html => { :multipart => true} do |f| %>

  <p>
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </p>

  <p>Profit and Loss
    <%= f.file_field :file_pl %>
  </p>

  <p>Balance Sheet
    <%= f.file_field :file_bs %>
  </p>

  <p>Cash Flow
    <%= f.file_field :file_cf %>
  </p>

  <%= f.submit %>
<% end %>
